{
  "log": {
    "_recordingName": "buildCorp",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a0d858918dc7000c5fe61c66948ecc2e",
        "request": {
          "headers": [
            {
              "name": "x-api-user",
              "value": "[REDACTED]"
            },
            {
              "name": "x-api-token",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/corps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 435,
            "text": "{\"data\":[{\"name\":\"jupiterone\",\"displayName\":\"JupiterOne\",\"smallIconURI\":\"\",\"created\":\"2022-01-10T18:29:55Z\",\"siteLimit\":5,\"sites\":{\"uri\":\"/api/v0/corps/jupiterone/sites\"},\"authType\":\"builtin\",\"logoutURI\":\"\",\"samlCert\":\"\",\"samlEndpoint\":\"\",\"signRequestsUsingStoredCert\":false,\"samlRequestCert\":\"\",\"sessionMaxAgeDashboard\":2592000,\"apiAllowedIPs\":[],\"apiTokenMaxAge\":0,\"restrictedAccessTokens\":false,\"ssoProvisioningConfigured\":false}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 301,
      },
      {
        "_id": "79c71d206a4c9cf236c090578b230d37",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "email=sam.andrus%40jupiterone.com&password=DXW4mwz%40vab*gkd1mqf"
          },
          "queryString": [],
          "url": "https://dashboard.signalsciences.net/api/v0/auth"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 49,
            "text": "{\"token\":\"2d87ef01-ef99-44c9-af0f-04a58f7b00d4\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 896,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
